# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data artifacts
/data/raw/
/data/processed/

# Model checkpoints (keep final exported model)
*.pth
*.pt
*.ckpt

# VS Code
.vscode/
model/export.pkl
data/food_freshness/fresh/*.png
data/food_freshness/rotten/*.png
data/food_freshness/slightly_spoiled/*.png
data/
